profiles {
  standard {
    process.container = 'shansun1809/genome_assembly'
    docker.enabled = true
  }
  
  cluster {
    process.executor = 'slurm'
    process.queue = 'short'
    process.memory = '10 GB' 
    process.time = '30 min'
    process.cpus = 8     
  }

  batch {
    process.container = 'shansun1809/mag_assembly' 
    process.executor = 'awsbatch'
    process.queue = 'highpriority-3a4cedf0-123c-11eb-8f5b-0ac225ff6c98'
    process.cpus = 16  
    process.memory = '64 GB' 
    workDir = 's3://genomics-workflows-c4d2c590-123b-11eb-a1d7-066f8b7a8772/'
    aws.region = 'us-east-2'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    docker.enabled = true
    docker.runOptions='-u $(id -u):$(id -g)'
    client {
      signerOverride = "S3SignerType"
    }
  }
} 

